/* form {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 300px;
    align-items: center;
} */

/* input {
    width: 180px;
    height: 27px;
    margin: 10px;
}

button {
    width: 180px;
    height: 27px;
} */